#c_1{
  .contact_top {
    line-height: 1.5 !important;
    h3.title {
      font-weight: bold;
      font-size: 24px;
      text-align: left;
      color: $main-color;
      text-transform: uppercase;
    }
    p {
      margin-bottom: 20px;
      line-height: 1.5;
    }
    h4 {
      font-size: 20px;
      text-transform: uppercase;
      //color: #0d51db;
      margin-bottom: 20px;
    }
    ul {
      list-style: none;
      li {
        font-weight: bold;
        i {
          margin-right: 10px;
          color: $main-color;
        }
        span{
          font-weight: bold;
        }
      }
    }
  }
  .contact_bottom {
    .input-group {
      margin-bottom: 20px;
      input, textarea {
        border-radius: inherit;
      }
    }
    button {
      border-radius: inherit;

      background-color: $main-color;
      color: white;
      font-weight: bold;
      transition: all 0.6s;
      &:hover{
        background-color: $sub-color;
      }
      .successSending, .loadingSending {
        margin-left: 5px;
      }
    }
  }
}
@media (max-width: 575.98px) {
  #cont1 {
    .contact_top{
      margin-top: 20px;
    }
    .contact_bottom{
      .button-group{
        text-align: center;
      }
    }
  }
}