#footer {
  background-color: $main-color;
  padding: 30px 0 0px;
  margin-bottom: 40px;
  span{
    font-weight: 600;
    text-transform: uppercase;
    color: white;
  }
  .is-divider {
    height: 3px;
    display: block;
    background-color: $sub-color;
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
  }
  .description{
    line-height: 1.5;
    color: white;
  }
  ul{
    li{
      list-style: none;
      padding: 6px 0;
      color: white;
      line-height: 1.5;
      a{
        color: white;
      }
      i{
        padding-right: 10px;
      }
    }
  }
  .copy-right {
    padding: 20px 0px;
    color: white;
    background-color: $sub-color;
    margin-bottom: 40px;
    margin-top: 30px;
    a{
      color: white;
      font-weight: bold;
    }
  }
}