#menu_tabbar{
  position: fixed;
  bottom: 0;
  height: 48px;
  z-index: 1000;
  box-shadow: 0 -1px 1px 0 rgba(0,0,0,.15);
  background-color: #fff;
  width: 100%;
  .one-item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    font-size: 17px;
    font-weight: bold;
    a{
      display: flex;
      width: 100%;
      text-align: center;
      height: 100%;
      justify-content: inherit;
      align-items: center;
      color: $main-color;

      i{
        padding-right: 5px;
      }
    }
  }
  @keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.5; }
    to { opacity: 1.0; }
  }
  .blink {
    animation:fade 1000ms infinite;
  }
}