#menu_desktop{
  .on-top{
    font-size: 12px;
    background-color: $main-color;
    color: white;
    p{
      margin: 0;
    }
  }
  .on-mid{
    img{
      width: 318px;
      height: auto;
      padding: 20px 10px 20px 0;
    }
    .slogan{
      p{
        width: 300px;
        font-size: 18px;
        line-height: 22px;
        color: $sub-color;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .address{
      font-weight: bold;
      padding: 0 0 0 20px;
      i{
        font-size: 32px;
        margin-right: 15px;
        border-right: 1px solid #6f6f6f;
        padding-right: 15px;
        color: $sub-color;
      }
      p{
        line-height: 22px;
        font-size: 14px;
        color: $sub-color;
        margin: 0;
      }
    }
  }
  .on-bottom{
    background-color: $main-color;
    ul{
      list-style-type: none;
      margin: 0;
      li{
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
        display: inline-flex;
        transition: .6s;
        a{
          padding: 22px 12px;
          color: white;
          transition: .6s;
          text-transform: uppercase;
          font-weight: bolder;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}#call_now_button {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   background: $main-color;
   color: white;
   padding: 5px;
   z-index: 100000;
   font-size: 1.1em;
   ul {
     margin: 0;
   }
   li {
     list-style: none;
     display: inline-block;
     margin: 0;
     margin-right: 10px;
     font-size: 15px;
     font-weight: 600;
     a{
       color: white;
     }
   }
   li:last-child {
     margin-right: 0;
   }
 }
